

body {
	margin: 0px;
	padding: 0px;
}

.copyright {
	position: absolute;
	bottom: 20px;
	height: 24px;
	width: 90%;
	font-family: Georgia;
	font-size: 12px;
	text-align: center;
}


